.title{
    color: rgb(102, 230, 194);
    margin-left: 100px;
    margin-right: 60px;
    border-bottom-style: solid;
    font-family: 'Courier New';
}
body{
    background-color: #000000;
    font-family: Verdana;
}
p{
    color: rgb(248, 243, 216);
    margin-left: 120px;
}
div{
    margin-left: 10px;
}
a.discord{
    background-color: #343434;
    color: rgb(102, 179, 230);
}
a.twitch{
    background-color: #1f1f1f;
    color: rgb(104, 45, 151);
}
a:link, a:visited {
    outline-style: solid;
    font-family: Impact, sans-serif;
    font-weight: 10;
    font-size: large;
    padding: 7px 14px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: rgb(74, 45, 69);
}